body {
    background-color: grey;
    position: relative;
    z-index: -3;
}

#ttt-grid {
    height: 520px;
    width: 520px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    grid-gap: 5px;
    margin: auto;
}

.ttt-place {
    height: 170px;
    width: 170px;
    background-color: pink;
    text-align: center
}

.XO {
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

#player-form {
    position: absolute;
    display: block;
    left: 0; 
    right: 0; 
    margin: auto; 
    height: 425px;
    width: 450px;
    padding: 50px;
    z-index: 5;
    text-align: center;
    background-color: pink;
}

#player1, #player2 {
    text-align: center;
}

#bot-options {
    visibility: hidden;
}

.buttons-here {
    position: absolute;
    z-index: -1;
    height: 170px;
    width: 170px;
    background-color: pink;
    text-align: center;
    margin-top: 175px;
    margin-left: 75px;
    visibility: hidden;
}

#display-x {
    position: absolute;
    z-index: -2;
    height: 170px;
    width: 170px;
    background-color: pink;
    text-align: center;
    margin-top: 0px;
    right: 100px;
    visibility: hidden;
}

#display-o {
    position: absolute;
    z-index: -2;
    height: 170px;
    width: 170px;
    background-color: pink;
    text-align: center;
    margin-top: 350px;
    right: 100px;
    visibility: hidden;
}

#x-score, #o-score {
    font-size: xx-large;
}

#title {
    color: pink;
    text-decoration: underline;
    text-align: center;
}